input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none; }

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 900px;
  min-height: 500px; }

#welcome {
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../media/book.jpg"); }
  #welcome .wrap {
    z-index: 1;
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%); }
    #welcome .wrap span {
      color: #ffffff;
      display: block; }
    #welcome .wrap .title {
      font-size: 65px;
      font-family: "Shadows Into Light",sans-serif; }
    #welcome .wrap .desc {
      font-size: 20px;
      margin-top: 12px;
      font-style: italic;
      margin-bottom: 20px;
      font-family: "Open Sans Condensed",sans-serif; }
    #welcome .wrap button {
      width: 150px;
      height: 50px;
      outline: none;
      color: #ffffff;
      cursor: pointer;
      font-size: 24px;
      border-radius: 5px;
      border: 2px solid #ffffff;
      transition-duration: 0.2s;
      background-color: transparent;
      font-family: "Shadows Into Light",sans-serif; }
    #welcome .wrap button:hover {
      color: #000000;
      background-color: #ffffff; }

#welcome::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5); }

#form {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: relative; }
  #form header {
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2); }
    #form header .image {
      float: left;
      width: 80px;
      height: 80px;
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../media/story-book.png"); }
    #form header span {
      color: #555555;
      display: block;
      font-size: 35px;
      cursor: default;
      font-family: "Shadows Into Light",sans-serif;
      top: 50%;
      position: relative;
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none; }
  #form .form {
    width: 90%;
    margin: auto;
    padding: 25px;
    max-width: 900px;
    margin-top: 110px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }
    #form .form input {
      width: 50%;
      padding: 15px;
      outline: none;
      display: block;
      font-size: 26px;
      border-radius: 5px;
      margin-bottom: 20px;
      box-sizing: border-box;
      border: 1px solid #BBBBBB;
      font-family: "Roboto",sans-serif; }
    #form .form textarea {
      width: 100%;
      padding: 15px;
      outline: none;
      font-size: 20px;
      max-width: 100%;
      line-height: 35px;
      min-height: 400px;
      border-radius: 5px;
      margin-bottom: 20px;
      box-sizing: border-box;
      border: 1px solid #BBBBBB;
      font-family: "Roboto",sans-serif; }
    #form .form span {
      color: #999999;
      display: block;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 20px;
      font-family: "Roboto",sans-serif; }
    #form .form button {
      width: 150px;
      height: 50px;
      border: none;
      outline: none;
      color: #777777;
      cursor: pointer;
      font-size: 24px;
      border-radius: 5px;
      transition-duration: 0.3s;
      background-color: #DDDDDD;
      font-family: "Shadows Into Light",sans-serif; }
    #form .form button:active {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); }
  #form footer {
    color: #777777;
    cursor: default;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    font-family: "Roboto",sans-serif;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; }

#form::before {
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #F1F1F1; }

#result {
  z-index: 1;
  top: -100%;
  width: 100%;
  display: none;
  min-height: 100%;
  overflow: hidden;
  position: absolute; }
  #result .container {
    opacity: 0;
    width: 100%;
    margin: auto;
    display: none;
    max-width: 900px;
    position: relative;
    box-sizing: border-box;
    padding: 25px 25px 50px 25px; }
    #result .container .title {
      color: #ffffff;
      font-size: 55px;
      margin-bottom: 25px;
      display: inline-block;
      border-bottom: 2px dashed #ffffff;
      font-family: "Shadows Into Light", sans-serif; }
    #result .container .content {
      margin: 0;
      padding: 20px;
      color: #ffffff;
      font-size: 25px;
      line-height: 45px;
      border-radius: 5px;
      position: relative;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.3);
      font-family: "Open Sans Condensed", sans-serif; }
      #result .container .content li {
        display: none;
        list-style: none;
        position: relative; }
      #result .container .content .story-active {
        display: block; }
    #result .container .content::before {
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 5px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5); }
  #result .nav-story {
    top: 0;
    padding: 0;
    width: 75px;
    opacity: 0.5;
    height: 100%;
    border: none;
    outline: none;
    position: fixed;
    cursor: pointer;
    visibility: hidden;
    transition-duration: 0.3s; }
    #result .nav-story img {
      width: 70%;
      margin: auto;
      display: block; }
  #result .nav-story:hover {
    opacity: 1; }
  #result .prev {
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), transparent);
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0.75), transparent);
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.75), transparent);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.75), transparent); }
  #result .next {
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to left, rgba(0, 0, 0, 0.75), transparent);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.75), transparent);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.75), transparent);
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.75), transparent); }

#result::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("../media/book-blur.jpg"); }
